snippet todo "TODO comment" bw
// TODO: ${1:`!v g:snips_author`} ${2:#<something>}
endsnippet

snippet fixme "fixme comment" bw
// FIXME: ${1:`!v g:snips_author`} ${2:#<something>}
endsnippet

snippet cm "Comment Section"
/* ${0} */
endsnippet

snippet st "printf"
printf(${0});
endsnippet

snippet inc "Includes"
#include <stdio.h>
#include <stdlib.h>

endsnippet
